@import '../../base';

.Header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: grid;
    place-items: center;
    border-bottom: 1px solid var(--secondary-text-color);

    .Bg {
        z-index: 101;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.2);

    }

    .Content {
        width: 100%;
        height: 60px;
        max-width: 1000px;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;

        .Logo {
            z-index: 102;
            height: 100%;
            width:60px;
            padding: 5px;
            img{
                margin: 0;
            }
    
            &:hover{
                cursor: pointer;
            }
        }
    
        .Menu{  
            padding-right: 5px;
            z-index: 102;
            color: var(--primary-text-color);
            display: none;

            @media(min-width: 768px) {
                display: block;
            }
            span {
                padding: 10px 10px 0px 10px;
                &:hover{
                    color: var(--primary-highlight-color);
                    cursor: pointer;
                }
            }
        }
        .Toggle {
            z-index: 102;
            display: flex;
            font-size: 40px;
            color: white;
            flex-direction: column;
            justify-content: center;
            height: 40px;
            width: 40px;
            margin-right: 20px;

            @media(min-width: 768px) {
                display: none;
            }

            span {
                margin-bottom: 10px;
                width: 100%;
                border-bottom: 3px solid white;
            }
        }
    }
}
html:not([data-scroll="0"]) {
    .Bg{
        background-color: var(--primary-bg-color);
    }
}
.Mobile {
    z-index: 105;
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--primary-bg-color);

    span {
        width: 100%;
        text-align: center;
        padding: 20px;
        color: var(--primary-text-color);
    }
}

.Show {
    display: flex;
}

.Hide {
    display: none;
}

.Module {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}



